<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the world</title>
</head>
<body>
    <div>
        <div>
            <h1>Username {{ user }}</h1>
            <p>Token {{ token }}</p>
        </div>
        <div>
            <!-- <form id="login" action="/token" method="post">

                <input type="text" name="username" id="username" value="">
                <input type="password" name="password", id="password" value="">
                <button type="submit" id="btnsubmit" >Login</button>


            </form> -->
        </div>
    </div>
</body>
</html>